@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color: #F8F8F8;
        background-color: #F8F8F8;
        font-family: 'montserrat', sans-serif;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track:horizontal {
    background: #F8F8F8F8;
    border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 10px;
}

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #555;*/
/*}*/
